
@import 'core.scss';

$base-img-url: "../../assets/images" ;
$assets-url: "../../assets" ;

@import "modules/_layout.scss";
@import "modules/_horizontal_menu.scss";
@import "modules/_horizontal-layout.scss";
@import "modules/_secondary-sidebar.scss";
@import 'modules/_header.scss';
@import 'modules/_overlay-search.scss';
//Sidebar Styles
@import 'modules/_quick-view.scss';
@import 'modules/_list.scss';

//UI Components
@import "icons.scss";
@import "modules/_typography.scss";
@import 'modules/_breadcrumb.scss';
@import "modules/_buttons.scss";
@import "modules/_alerts.scss";
@import "modules/_notifications.scss";
@import "modules/_cards.scss";
@import "modules/_tabs_accordian.scss";
@import "modules/_modals.scss";
@import "modules/_progress_indicators.scss";

//Pages Components
@import "modules/_datepicker.scss";
@import "modules/_timepicker.scss";
@import "modules/_select.scss";
@import "modules/_selectfx.scss";
@import "modules/_slider.scss";
@import "modules/_switch.scss";
@import "modules/_tabs.scss";
@import "modules/_tags.scss";
@import "modules/_uploader.scss";
@import "modules/_pagination.scss";

//View
@import "modules/_view.scss";

//Form Elements
@import "modules/_form_elements.scss";

//Tables
@import "modules/_tables.scss";

//Charts
@import "modules/_charts.scss";

//List
@import "modules/_list.scss";

//Social
@import "modules/_social.scss";

//Email
@import "modules/_email.scss";

//Login
@import "modules/_login.scss";

//Lock screen
@import "modules/_lock_screen.scss";

//Timeline
@import "modules/_timeline.scss";

//Gallery
@import "modules/_gallery.scss";

//Chat
@import "modules/_chat.scss";

//Z-indexes
@import "modules/z_index.scss";

//Misc
@import "modules/_misc.scss";

//Print
@import "modules/_print.scss";

//Widgets
@import "modules/_widgets.scss";

//Demo - Remove in production
@import "modules/_demo.scss";

//Responsive Classes
@import "_responsive.scss";

//Utils
@import "utils.scss";

//Vendor
@import "vendor/perfect-scroller.scss";
@import "vendor/typehead.scss";
@import "vendor/ng-tree.scss";
@import "vendor/quill.scss";
@import "vendor/ng-datatable.scss";
@import "vendor/ngx-nvd3.scss";
@import "vendor/ngx-google-map.scss";

//Layout Overrides
app-root, executive-layout{
    height: 100%;
}
executive-layout{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.horizontal-app-menu .header .pg{
    display: inline-block;
}

// Icon thumbnails in Dashboard
.icon-thumbnail {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    float: right;
    margin-right: 14px;
    font-size: 16px;
    font-weight: bold;
    font-family: segoe ui,helvetica neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 700;
}
