<div class="container-fluid full-height no-padding">
    <div class="row full-height no-margin">
        <div class="col-md-8 no-padding b-r b-grey full-height">
            <div class="bg-white full-height">

            </div>
        </div>
        <div class="col-md-4 no-padding full-height">
            <div class="bg-white full-height">
                <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true" class="full-height">
                    <pg-tab>
                        <ng-template #TabHeading>
                            Hello World
                        </ng-template>
                        <div class="row column-seperation">
                            <div class="col-lg-6">
                                <h3>
                                    <span class="semi-bold">Sometimes</span> Small things in life means the most
                                </h3>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="semi-bold">great tabs</h3>
                                <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
                            </div>
                        </div>
                    </pg-tab>
                    <pg-tab>
                        <ng-template #TabHeading>
                            Hello Two
                        </ng-template>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>“ Nothing is
                                    <span class="semi-bold">impossible</span>, the word itself says 'I'm
                                    <span class="semi-bold">possible</span>'! ”
                                </h3>
                                <p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...</p>
                                <br>
                                <p class="pull-right">
                                    <button type="button" class="btn btn-default btn-cons m-b-10">White</button>
                                    <button type="button" class="btn btn-success btn-cons">Success</button>
                                </p>
                            </div>
                        </div>
                    </pg-tab>
                    <pg-tab>
                        <ng-template #TabHeading>
                            Hello Three
                        </ng-template>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Follow us &amp; get updated!</h3>
                                <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                                <br>
                            </div>
                        </div>
                    </pg-tab>
                </pg-tabset>
            </div>
        </div>
    </div>
</div>

