/*------------------------------------------------------------------
[15. Form Elements]
*/
// Mixins
// --------------------------------------------------

// Form validation states
@mixin form-control-validation($text-color, $border-color, $background-color) {
  // Color the label and help text
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    color: $text-color;
  }
  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-color: $border-color;
    @include box-shadow(none); // Redeclare so transitions work
    &:focus {
      border-color: darken($border-color, 10%);
      @include box-shadow(none);
    }
    //Auto fill
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $color-contrast-lowest inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(0, 0, 0, 0.05) !important;
    }
  }
  // Set validation states also for addons
  .input-group-addon {
    background: $color-contrast-lower;
    border: 1px solid $color-border-a;
    color: fade($color-contrast-high, 47%);
  }
  // Optional feedback icon
  .form-control-feedback {
    color: $text-color;
  }
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input[type='radio'],
input[type='checkbox'] {
  margin-top: 1px 0 0;
  line-height: normal;
  cursor: pointer;
  @include box-sizing(border-box);
}

select[multiple],
select[size] {
  height: auto !important;
}

input:focus,
select:focus,
textarea:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: none;
  @include box-shadow(none);
}

//Webskit Auto fill
input {
  &:-webkit-autofill,
  &.error:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $color-contrast-lowest inset !important;
    &:focus {
      -webkit-box-shadow: 0 0 0 1000px $color-contrast-lowest inset !important;
    }
  }
}

form legend {
  @include margin(15px, 0px, 10px, 0px);
}

.form-control {
  background-color: $color-contrast-lowest;
  background-image: none;
  border: 1px solid $color-border-a;
  border-top-color: fade($color-contrast-higher, 21%);
  font-family: $force-mac-font-family, sans-serif;
  -webkit-appearance: none;
  color: $color-contrast-higher;
  outline: 0;
  padding: 6px 8px;
  line-height: 16px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
  min-height: 35px;
  @include transition(all 0.12s ease);
  @include border-radius(2px);
  @include transition(background 0.2s linear 0s);
  @include placeholder(inherit, 0.47);
  &:focus {
    border-color: unset;
    background-color: $color-contrast-lowest;
    border: 1px solid $color-primary;
    box-shadow: none;
    outline: 0 !important;
    @include placeholder(inherit, 0.57);
  }
  &[disabled],
  fieldset[disabled] & {
    background: mix($color-contrast-lower, #fff, 50%);
    color: fade($color-contrast-high, 33%);
    cursor: not-allowed;
  }
  //Textfields and inpt
  &.transparent {
    background-color: transparent;
    border-color: transparent;
    &:focus {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

/* Input Sizes
--------------------------------------------------
*/

.input-sm,
.form-horizontal .form-group-sm .form-control {
  font-size: 13px;
  min-height: 32px;
  padding: 7px 9px;
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
  border-radius: 3px;
  font-size: 18px;
  min-height: 45px;
  padding: 11px 13px;
}

.input-xlg {
  min-height: 51px;
  font-size: 18px;
  line-height: 22px;
}

// With Controls
.input-group-lg > {
  .form-control {
    padding: 6px 1rem;
  }
}

.input-group-sm > {
  .form-control {
    padding: 0 0.5rem;
    min-height: 32px;
  }
}

//Select2 lg
.select2-lg {
  .select2-container .select2-selection.select2-selection--single {
    height: 45px;
    padding: 11px 13px;
    .select2-selection__rendered {
      padding-top: 0px;
      line-height: 22px;
      font-size: 18px;
    }
    .select2-selection__arrow {
      bottom: 9px;
    }
  }
}

.select2-sm {
  .select2-container .select2-selection.select2-selection--single {
    height: 32px;
    padding: 8px 9px;
    .select2-selection__rendered {
      padding-top: 0px;
      line-height: 16px;
      font-size: 13px;
    }
    .select2-selection__arrow {
      bottom: 4px;
    }
  }
}

/* Checkboxes and Radio buttons
--------------------------------------------------
*/

.radio,
.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0px;
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    min-width: 17px;
    min-height: 17px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
    &:before {
      -webkit-box-sizing: inherit;
      box-sizing: border-box;
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0px;
      background-color: $color-contrast-lowest;
      border: 1px solid mix($color-contrast-high, #fff, 30%);
    }
  }
}

.radio {
  label {
    margin-bottom: 6px;
    &:before {
      bottom: 2.5px;
      border-radius: 99px;
      @include transition(border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33));
    }
  }
  input[type='radio']:checked {
    & + label {
      &:before {
        border-width: 5px;
      }
    }
  }
  input[type='radio']:focus {
    & + label {
      color: $color-contrast-higher;
    }
  }
  input[type='radio'] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  input[type='radio'][disabled] {
    & + label {
      opacity: 0.65;
    }
  }
}
input[type='radio']:checked + label:before {
  .radio.radio-success & {
    border-color: $color-success;
  }
  .radio.radio-primary & {
    border-color: $color-primary;
  }
  .radio.radio-info & {
    border-color: $color-info;
  }
  .radio.radio-warning & {
    border-color: $color-warning;
  }
  .radio.radio-danger & {
    border-color: $color-danger;
  }
  .radio.radio-complete & {
    border-color: $color-complete;
  }
}

.checkbox + .checkbox,
.radio + .radio {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

.checkbox {
  input[type='radio'][disabled] {
    & + label {
      &:after {
        background-color: $color-contrast-low;
      }
    }
  }
  label {
    transition: border 140ms linear 0s, color 140ms linear 0s, background-color 140ms linear 0s;
    &:before {
      top: 1.4px;
      border-radius: 2.33px;
      transition: border 140ms linear 0s, color 140ms linear 0s, background-color 140ms linear 0s;
    }
  }
  input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
    & + label {
      &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 0px;
        border-right: 0 solid transparent;
        border-bottom: 0 solid transparent;
        width: 16px;
        height: 16px;
        overflow: hidden;
      }
    }
  }
  &.checkbox-circle {
    label {
      &:after {
        border-radius: 99px;
      }
      &:before {
        border-radius: 99px;
      }
    }
  }
  input[type='checkbox']:checked {
    & + label {
      &::after {
        content: '';
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAAQAgMAAADsa5zLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUdwTHBwcG9vb3BwcBFjhIYAAAAEdFJOUwBG9tQE3MceAAAAVUlEQVQoz2NgGLKA0QGIDwDxBSCeAMEYgAWI2YCK2CagYgwgDcRSDhgYbAkKzsSKGdgakCyY6ADES7BiiCkgJ4PYyybgxAhQAsRZDrgxCpDEg4cAAAAp2ibhZRGLHgAAAABJRU5ErkJggg==)
          left center; //grey-tick
        background-size: 160px 16px;
        background-repeat: no-repeat;
        animation-name: checkbox-check;
        animation-duration: 320ms;
        animation-timing-function: steps(9);
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }
    }
  }
  input[type='checkbox']:focus {
    & + label {
      color: $color-contrast-higher;
      &:before {
        background-color: $color-contrast-low;
      }
    }
  }
  input[type='checkbox'][disabled] {
    & + label {
      opacity: 0.65;
      &:before {
        background-color: #eceff3;
      }
    }
  }
  &.right {
    label {
      margin-right: 35px;
      padding-left: 0 !important;
      &:before {
        right: -35px;
        left: auto;
      }
    }
    input[type='checkbox']:checked {
      & + label {
        position: relative;
        &::after {
          position: absolute;
          right: -25px;
          left: auto;
        }
      }
    }
  }
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox-check {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -144px;
  }
}

//RTL
body.rtl .checkbox label::after {
  left: -1.2px;
}

input[type='checkbox']:checked + label {
  .checkbox.check-success &:before {
    border-color: $color-success;
    background-color: $color-success;
  }
  .checkbox.check-primary &:before {
    border-color: $color-primary;
    background-color: $color-primary;
  }
  .checkbox.check-complete &:before {
    border-color: $color-complete;
    background-color: $color-complete;
  }
  .checkbox.check-warning &:before {
    border-color: $color-warning;
    background-color: $color-warning;
  }
  .checkbox.check-danger &:before {
    border-color: $color-danger;
    background-color: $color-danger;
  }
  .checkbox.check-info &:before {
    border-color: $color-info;
    background-color: $color-info;
  }

  .checkbox.check-info &::after,
  .checkbox.check-danger &::after,
  .checkbox.check-complete &::after,
  .checkbox.check-primary &::after,
  .checkbox.check-success &::after {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAAQAgMAAADsa5zLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUdwTP///////////waf0AoAAAAEdFJOUwBG9tQE3MceAAAAVUlEQVQoz2NgGLKA0QGIDwDxBSCeAMEYgAWI2YCK2CagYgwgDcRSDhgYbAkKzsSKGdgakCyY6ADES7BiiCkgJ4PYyybgxAhQAsRZDrgxCpDEg4cAAAAp2ibhZRGLHgAAAABJRU5ErkJggg==)
      left center; //white-tick
  }
}

.input-group-text {
  background-color: $color-contrast-lowest;
  color: fade($color-contrast-high, 67%);
  font-size: 14px;
  line-height: 14px;
  border: 1px solid $color-border-a;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  &.primary {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-contrast-lowest;
    background-color: $color-primary;
  }
  &.success {
    background-color: #0090d9;
    color: $color-contrast-lowest;
  }
  &.info {
    background-color: #1f3853;
    color: $color-contrast-lowest;
  }
  &.warning {
    background-color: #fbb05e;
    color: $color-contrast-lowest;
  }
  &.danger {
    background-color: #f35958;
    color: $color-contrast-lowest;
  }
  &.transparent {
    background-color: transparent;
  }
}
.input-group-append {
  .input-group-text {
    @include border-left(0);
  }
}
.input-group-prepend {
  .input-group-text {
    @include border-right(0);
  }
}

/* Form layouts
--------------------------------------------------
*/

@media only screen and (min-width: 540px) {
  form {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .row [class*='col-sm-'] {
      &:not(:first-child),
      &:not(:last-child) {
        @include padding-right(7px);
        @include padding-left(7px);
      }

      &:first-child {
        @include padding-left(0);
      }
      &:last-child {
        @include padding-right(0);
      }
    }
  }
}
@media only screen and (min-width: 720px) {
  form {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .row [class*='col-'] {
      &:not(:first-child),
      &:not(:last-child) {
        @include padding-right(0);
        @include padding-left(0);
      }

      &:first-child {
        @include padding-left(0);
      }
      &:last-child {
        @include padding-right(0);
      }
    }
  }
  form {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .row [class*='col-md-'] {
      &:not(:first-child),
      &:not(:last-child) {
        @include padding-right(7px);
        @include padding-left(7px);
      }

      &:first-child {
        @include padding-left(0);
      }
      &:last-child {
        @include padding-right(0);
      }
    }
  }
}
@media only screen and (min-width: 960px) {
  form {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .row [class*='col-lg-'] {
      &:not(:first-child),
      &:not(:last-child) {
        @include padding-right(7px);
        @include padding-left(7px);
      }

      &:first-child {
        @include padding-left(0);
      }
      &:last-child {
        @include padding-right(0);
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  form {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .row [class*='col-xl-'] {
      &:not(:first-child),
      &:not(:last-child) {
        @include padding-right(7px);
        @include padding-left(7px);
      }

      &:first-child {
        @include padding-left(0);
      }
      &:last-child {
        @include padding-right(0);
      }
    }
  }
}

/* Form layouts  : Horizontal
--------------------------------------------------
*/
.form-horizontal {
  .form-group {
    border-bottom: 1px solid $color-contrast-low;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
    &:last-child {
      border-bottom: none;
    }
    &:hover .control-label {
      opacity: 1;
      color: $color-contrast-higher;
    }
    &.focused .control-label {
      opacity: 1;
      color: $color-contrast-high;
    }
    .control-label {
      @include text-align(left);
      color: $color-contrast-high;
      @include transition(opacity ease 0.3s);
      &.required {
        &:after {
          content: 'Required';
          position: absolute;
          right: 0px;
          font-size: 12px;
          margin-right: 4px;
          color: fade($color-contrast-medium, 87);
        }
      }
    }
  }
  .radio {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .control-label {
    padding-top: 7px;
    margin-bottom: 0;
  }
}
/* Form layouts  : Attached
--------------------------------------------------
*/
.form-group-attached {
  .form-group.form-group-default {
    border-radius: 0;
    margin-bottom: 0;
  }
  & > div {
    margin: 0;
    &:first-child {
      &.row > [class*='col-'] {
        &:first-child .form-group-default {
          @include border-top-left-radius(2px);
        }
        &:last-child .form-group-default {
          @include border-top-right-radius(2px);
        }
      }
      &.form-group-default {
        @include border-top-left-radius(2px);
        @include border-top-right-radius(2px);
      }
    }

    &:last-child {
      &.row > [class*='col-'] {
        &:first-child .form-group-default {
          @include border-bottom-left-radius(2px);
        }
        &:last-child .form-group-default {
          @include border-bottom-right-radius(2px);
        }
      }
      &.form-group-default {
        @include border-bottom-left-radius(2px);
        @include border-bottom-right-radius(2px);
      }
    }
    &.row > [class*='col-'] {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    &.row > [class*='col-']:not(:only-child):not(:last-child) > .form-group-default {
      @include border-right-color(transparent);
    }
    &:not(:last-child) .form-group-default,
    &:not(:last-child).form-group-default {
      border-bottom-color: transparent;
    }
  }
}

/* Form layouts  : Responsive Handlers
--------------------------------------------------
*/
@media (max-width: 767px) {
  .form-group-attached .form-group-default {
    border-right-color: $color-border-a !important;
  }
}

@media only screen and (min-width: 768px) {
  .form-group-attached > div.row {
    & > [class*='col-'] {
      .form-group {
        height: 100%;
        width: 100%;
      }
    }
  }
}
/* Form Groups
--------------------------------------------------
*/
.form-group {
  margin-bottom: 10px;
  label:not(.error) {
    font-family: $force-mac-font-family;
    font-size: 14px;
    letter-spacing: -0.006em;
    font-weight: 400;
    color: $color-contrast-high;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  label .help {
    @include margin-left(8px);
  }
  .help {
    font-size: 12px;
    color: fade($color-contrast-higher, 67%);
    letter-spacing: normal;
    line-height: 18px;
    display: block;
    margin-top: 6px;
    margin-left: 3px;
  }
}
//here
@keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-4px);
  }
  25%,
  58% {
    -webkit-transform: translateX(4px);
  }
  75% {
    -webkit-transform: translateX(-2px);
  }
  92% {
    -webkit-transform: translateX(2px);
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}
.form-group-default {
  background-color: $color-contrast-lowest;
  font-family: $force-mac-font-family;
  position: relative;
  border: 1px solid $color-border-a;
  border-top-color: darken($color-border-a, 10%);
  border-radius: 2px;
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 4px;
  width: 100%;
  @include transition(background-color 0.2s ease);
  cursor: text;
  &.required:after {
    color: $color-danger;
    content: '*';
    font-family: $force-mac-font-family;
    font-size: 20px;
    position: absolute;
    @include right(10px);
    top: 2px;
  }
  &.disabled {
    background: mix($color-contrast-lower, #fff, 50%);
    color: fade($color-contrast-high, 23%);
    cursor: not-allowed;
    &.focused {
      border: 1px solid $color-primary;
      label {
        opacity: 1;
      }
    }
    label {
      opacity: 0.57;
      cursor: not-allowed;
    }
  }
  &.focused {
    border: 1px solid $color-primary !important;
    label {
      opacity: 0.67;
      @include backface-visibility(hidden);
      font-size: 12px;
      letter-spacing: normal;
    }
  }
  &.has-error {
    label {
      color: $color-danger-dark;
      animation-name: shake;
      animation-duration: 0.4s;
      animation-iteration-count: 1;
    }
  }
  &.has-success,
  &.has-error {
    .form-control-feedback {
      display: none !important;
    }
  }
  &.has-success .form-control,
  &.has-success .form-control:focus,
  &.has-error .form-control,
  &.has-error .form-control:focus {
    border: none;
    box-shadow: none;
  }
  & + .ng-star-inserted .error {
    margin-top: -10px;
    padding: 3px 7px 2px 4px;
    display: flex;
    letter-spacing: normal;
    animation-name: show-msg;
    animation-duration: 450ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:after {
      content: '';
      width: 0%;
      position: absolute;
      height: 1px;
      background-color: $color-danger;
      top: -1px;
      right: 0px;
      animation-name: show-line;
      animation-delay: 300ms;
      animation-duration: 350ms;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-fill-mode: forwards;
    }
  }
  // Key Frame Animations for error
  @keyframes show-msg {
    0% {
      height: 0px;
      opacity: 0;
    }
    100% {
      height: 25px;
      opacity: 1;
    }
  }
  @keyframes show-line {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  &.input-group {
    padding: 0;
    & > label {
      margin-top: 6px;
      @include padding-left(12px);
      &.inline {
        margin-top: 6px;
        float: left;
      }
    }
    & > .form-control {
      margin-top: -2px;
      margin-bottom: 3px;
      @include padding-left(12px);
    }
    label {
      margin-top: 6px;
      padding-left: 12px;
    }
    .form-input-group {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
    }
    .form-control {
      margin-top: -2px;
      margin-bottom: 3px;
      padding-left: 12px;
      width: 100%;
    }
    .input-group-text {
      border: 0;
      border-radius: 0;
      min-width: 50px;
      i {
        width: 100%;
      }
    }
    .btn {
      border-top: 0;
      border-bottom: 0;
    }
  }
  & .form-control {
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: none;
    @include box-shadow(none);
    &.error {
      color: $color-contrast-higher;
    }
    &:focus {
      background: none;
      @include placeholder(inherit, 0.77);
    }
    // Webkit Autofill
    &:-webkit-autofill,
    &.error:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $color-contrast-lowest inset !important;
      &:focus {
        -webkit-box-shadow: 0 0 0 1000px $color-contrast-lowest inset !important;
      }
    }
  }
  & textarea.form-control {
    padding-top: 5px;
  }
  label {
    margin: 0;
    display: block;
    opacity: 1;
    cursor: text;
    @include transition(opacity 0.2s ease);
    &.label-lg {
      font-size: 13px;
      left: 13px;
      top: 9px;
    }
    &.label-sm {
      font-size: 11px;
      left: 11px;
      top: 6px;
    }
    &.highlight {
      opacity: 1;
    }
    &.fade {
      opacity: 0.5;
      @include backface-visibility(hidden);
      font-size: 12px;
      letter-spacing: normal;
    }
  }
  & > .input-lg {
    height: 29px;
    min-height: 29px;
    @include padding-left(1px);
  }
  & > .input-sm {
    min-height: 18px;
    height: 18px;
  }
  &.form-group-default-select {
    overflow: visible;
    .ui-select-container.ui-select-bootstrap.dropdown {
      .ui-select-match {
        padding-top: 6px;
        height: 23px;
      }
    }
    .ui-select-container {
      .select2-choices {
        border: 0px;
      }
    }
  }
  &.form-group-default-select2 {
    padding: 0;
    & > label {
      position: absolute;
      z-index: 10;
      @include padding(5px, 12px, 0, 9px);
      color: $color-contrast-medium;
      &.label-lg {
        @include left(0);
        top: 0;
      }
      &.label-sm {
        @include left(0);
        top: 0;
      }
    }
    .select2-container {
      .select2-selection--single {
        padding-top: 20px;
        height: 52px;
        .select2-arrow b:before {
          top: 20px;
        }
        .select2-chosen {
          @include padding-left(3px);
          padding-top: 1px;
        }
      }
      .select2-selection--multiple {
        padding-top: 19px;
        padding-bottom: 0;
        min-height: 52px;
        border: 0px !important;
        .select2-selection__rendered .select2-selection__choice {
          margin-top: 5px;
        }
      }
    }
    &.input-lg {
      height: auto;
      padding: 0;
      .select2-container .select2-selection--single {
        padding-top: 26px;
        height: 58px;
        .select2-selection__rendered {
          font-size: 18px;
        }
      }
    }
    &.input-sm {
      height: auto;
      padding: 0;
      .select2-container .select2-selection--single {
        padding-top: 21px;
        height: 49px;
        .select2-selection__rendered {
          font-size: 13px;
        }
      }
    }
  }
  &.form-group-default-selectFx {
    padding: 0;
    & > label {
      position: absolute;
      z-index: 10;
      @include padding(7px, 12px, 0, 12px);
      &.label-lg {
        left: 0;
        top: 0;
      }
      &.label-sm {
        left: 0;
        top: 0;
      }
    }
    .cs-wrapper {
      .cs-placeholder {
        padding-top: 28px;
        height: 52px;
        @include padding-left(12px);
      }
      .cs-select {
        height: auto;
        > span:after,
        .cs-selected span:after {
          top: 39px;
        }
        &.input-lg .cs-placeholder {
          height: 60px;
        }
        &.input-sm .cs-placeholder {
          height: 50px;
        }
      }
      .dropdown-placeholder {
        vertical-align: top;
      }
    }
  }
  .input-group-append {
    .input-group-text:before {
      content: '';
      width: 1px;
      height: 80%;
      top: 0px;
      left: -10px;
      position: relative;
      background-color: rgba(0, 0, 0, 0.16);
    }
  }
  .input-group-prepend {
    .input-group-text:before {
      content: '';
      width: 1px;
      height: 80%;
      top: 0px;
      right: -10px;
      position: relative;
      background-color: rgba(0, 0, 0, 0.16);
    }
  }
}

/* Form validation
--------------------------------------------------
*/
.has-success {
  @include form-control-validation($color-success-dark, $color-success-dark, $color-success);
}
.has-warning {
  @include form-control-validation($color-warning-dark, $color-warning-dark, $color-warning);
}
.has-error {
  @include form-control-validation($color-danger, $color-danger, $color-danger);
}
label.error {
  font-size: 12px;
  color: $color-danger-dark;
  display: block;
}

.invalid-tooltip {
  background: $color-black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  z-index: 790;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.4;
  color: $color-white;
  top: -100%;
  display: flex;
  left: 50%;
  top: 50%;
  line-height: 1.5;
  transform: translate(-50%, calc(-100% - 20px));
  max-width: 276px;
  &::before,
  &::after {
    left: 50%;
    border-bottom-width: 0;
    content: '';
    border-width: 11px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  &::before {
    bottom: -22px;
    margin-left: -11px;
    border-top-color: rgba(0, 0, 0, 0.1);
  }
  &::after {
    border-width: 7px;
    border-bottom-width: 0;
    bottom: -7px;
    margin-left: -10px;
    border-top-color: $color-black;
  }
}

/* Dropzone for Angular */
.dropzone[dropzone='dropzone'] input[type='file'] {
  visibility: hidden;
}
/* end overrides */

// error form
.error-form {
  .form-group-default {
    padding: 0;
    justify-content: space-between;
    label {
      margin-top: 6px;
      padding-left: 12px;
    }
    .form-control {
      margin-top: -2px;
      margin-bottom: 3px;
      padding-left: 12px;
    }
  }
}
.error-container {
  &.bottom-container {
    margin-top: 0;
  }
}

.h-c-50 {
  height: calc(50px);
}
.card-toolbar {
  .note-editor {
    .btn-toolbar {
      display: block;
    }
  }
}
